[Unit]
Description=Run GoDaddy DDNS updater every 5 minutes
Documentation=https://developer.godaddy.com/doc/endpoint/domains
Requires=coresapian-ddns.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
AccuracySec=30s

[Install]
WantedBy=timers.target
